.contenedor{
    @apply max-w-7xl mx-auto px-2;
}
@media(min-width:640px){
    .contenedor{
        @apply px-6;
    }
}
    @media(min-width:1024px){
        .contenedor{
            @apply px-8;
        }

}
.z-1000{
    z-index: 1000 !important;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}